body > header {
  height: 400px;
  width: 100%;
  display: flex;
  color: white;
  flex-direction:column;
  align-items:center;
  background-color:#a14056;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
}

body > header h2 {
  font-size: 1.5em;
}

body > header span {
  font-weight:600;
}