nav {
  width: 100vw;
  color: #FFFFFF;
  padding: 0.5em 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: #df9a01;
  background-image: url("https://www.transparenttextures.com/patterns/grilled-noise.png");
}
nav span:first-of-type {
  font-family: "Bungee", sans-serif;
}
nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
nav div strong {
  font-weight: 600;
}
nav i {
  color: #FF0000;
  animation-name: arrow-slide;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes arrow-slide {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(4px);
  }
}
@media only screen and (min-width: 768px) {
  nav {
    top: 0px;
    padding: 0.5em 1.5em;
    background-color: #4056A1;
    background-image: none;
    z-index: 2;
  }
  nav div {
    margin-top: 0;
  }
}
