article.tweet {
  border: 5px solid #545149;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

article.tweet header, footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
